@import "tailwindcss";

@theme {
    --color-primary: #ffcc00;
    --color-secondary: #19191c;
    --color-tertiary: #f8e6bc;

  }

  body{
    background: #F8F4F0;
    /* background-color: black; */
    background: linear-gradient(135deg, #f8f4f0 45%, #f8e6bc 100%);
    /* color: rgb(0, 0, 0); */
    color: #6b7280;
    scroll-behavior: smooth;
  }





  /* Government agencies animation*/

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    animation: scroll 40s linear infinite;
  }

   /* Government agencies animation*/





  /* programming tools animation */

  @keyframes scroll-tools {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-scroll-tools {
    animation: scroll-tools 90s linear infinite;
  }

  .pause-on-hover:hover {
    animation-play-state: paused !important;
  }

  /* programming tools animation */






.pause-on-hover:hover img {
  filter: brightness(1) invert(1);
  transition: all 0.3s ease ,filter 0.3s ease, border 0.3s ease;
}

.pause-on-hover:hover img:hover {
  filter: none;
  border: 2px solid #FFCC00;
  border-radius: 8px;
  transform: scale(1.2); 
  z-index: 10; 
}

.border-card{
  transition: all 0.3s ease ,filter 0.3s ease, border 0.3s ease;
}

.border-card:hover{
  border: 2px solid #FFCC00;
  border-radius: 8px;
  transform: scale(1.2); 
}

.pause-on-hover-ceo-team:hover {
  animation-play-state: paused !important;
}









/* Scrollbar Transparent */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 9999px;
}


.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
}


.custom-swiper-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  pointer-events: none;
}

.custom-swiper-buttons .swiper-button-prev,
.custom-swiper-buttons .swiper-button-next {
  pointer-events: auto;
}

.custom-swiper-buttons .swiper-button-prev {
  left: 20px;
}

.custom-swiper-buttons .swiper-button-next {
  right: 20px;
}






  